.electricity {
  padding: 36px 0 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 120px 0 0;
  }
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 19px;
  }
}

.electricity__title {
  width: 286px;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    width: 368px; 
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    width: 491px;
  }
}

.electricity__timer::before {
  content: "";
  position: absolute;
  display: block;
  top: 24px;
  right: 50%;
  width: 1px;
  height: 48px;
  background-color: #97D28B;
}

.electricity__timer{
  position: relative;
  padding-top: 96px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @media screen and (min-width: 768px) {
    padding-top: 135px;
    &::before {
      height: 87px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    &::before {
        top: 16px;
      }
  }
}



.electricity__timerNumbers{
  color: #97D28B;  
  text-align: center;
  font-family: "Oswald";
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 100px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 164px;
  }
}

.electricity__timerText{
  font-family: "Oswald";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
  }
}