.valueSvg{
  @media screen and (min-width: 1280px) {
      width: 24px;
      height: 24px;
    }
}

.minusSvg,
.plusSvg {
  @media screen and (max-width: 767px) {
    width: 16px;
    height: 16px;
  }
}
