.contacts {
  padding: 36px 0 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 120px 0 0;
  }
}

.container {
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 19px;
  }
}

.contacts__title {
  width: 286px;
  font-family: "Oswald";
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    width: 368px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    width: 491px;
  }
}

.contacts__wrapper{
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    gap: 48px;
  }
}

.contacts__details{
  padding-top: 24px;
  padding-bottom: 36px;
  @media screen and (min-width: 768px) {
     width: 342px;
    }
  
    @media screen and (min-width: 1280px) {
     width: 596px;
    }

}

.contacts__detail{
  display: flex;
  flex-direction: column;

  &:not(:last-child){
    margin-bottom: 24px;
  }
}

.contacts__detailTitle{
  padding-bottom: 8px;
}

.contacts__detailLink {
  display: flex;
  align-items: center;
  gap: 8px;
  
}
.contacts__detailLink  svg {
  stroke: #173D33;
  transition: stroke 250ms var(--transition-time);
}
.contacts__detailLink:hover svg{
  stroke: #97D28B;
} 

.contacts__socialWrap{
  display: flex;
  padding: 12px 0 0 12px;
  gap: 32px;
}
.contacts__socialIcon {
  color: #173D33;
  stroke: #173D33;
  transition: color 250ms var(--transition-time), stroke 250ms var(--transition-time);
}

.contacts__socialIcon:hover  {
  stroke: #97D28B;
  color: #97D28B;
}