.slider__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 768px) {
    align-items:flex-end;
  }
}

.slider__controls {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 26px;
  
  @media screen and (min-width: 768px) {
    position: relative;
    width: 342px;
    &::before{
      content: "";
        position: absolute;
        display: block;
        top: 0;
        left: -9px;
        width: 1px;
        height: 100%;
        background-color: #97D28B;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 596px;
    padding-left: 161px;
  }
}

.slider__counter{ 
  font-size: 28px; 
  font-weight: 300;
  letter-spacing: -0.04em;
}

.slider__counterQuantity{
  color: rgba(23, 61, 51, 0.25);
}

.slider__arrows {
  display: flex;
  gap: 12px;
  @media screen and (min-width:1280px) {
      gap: 24px;
    }
}

.slider__arrowWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 50%;
  background-color: transparent;
  stroke: #173D33;
  border: 1px solid;
  border-color: #173D33;
  transition: border-color 250ms var(--transition-time), stroke 250ms var(--transition-time);

  &:hover {
    stroke: #97D28B;
    border-color: #97D28B;
  }

  @media screen and (min-width:1280px) {
    padding: 24px;
  }
}

.slider__arrowLeft {
  transform: rotate(-180deg);
}

.slide__container {
  position: relative; 
  display: flex;
  overflow: hidden;
  gap: 24px; 

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width:1280px) {
    gap: 48px;
  }
}

.slide {
  height: 318px;
  width: 320px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  @media screen and (min-width:768px) {
    height: 322px;
    width: 342px;
  }
  @media screen and (min-width:1280px) {
    height: 506px;
    width: 596px;
  }
}

.slide__image{
  width: 100%;
}

.slide__info{  
  padding: 24px 12px 12px;
  background: #EAEDF1;
  @media screen and (min-width: 1280px) {
    padding: 36px 48px;
  }
}

.slide__titleWrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    height: 88px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    height: 94px;
    padding-bottom: 36px;
  }
}

.slide__titleWrap::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #97D28B;
}

.slide__title{
  width: 175px; 
  text-align: justify;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.04em;
  @media screen and (min-width: 768px) {
    width: 230px;
  }
}

.slide__arrow{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #97D28B;
  stroke: #173D33;
  transform: rotate(-45deg);
  border-color: transparent;
  transition: background 250ms var(--transition-time), stroke 250ms var(--transition-time);

  & svg{
    width: 28px;
    height: 28px;
  }
  &:hover {
    stroke: #97D28B;
    background: #173D33;
  }
}

.slide__descriptionWrap{
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  font-family: Fira Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
  @media screen and (min-width: 1280px) {
    padding-top: 24px;
  }
}
